.main_banner {
  .item {
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    height: 100vh;
  }

  .item_2 {
    background-image: url("../images/banner2.jpg");
  }

  .item_3 {
    background-image: url("../images/banner3.jpg");
  }
  .item_4{
    background-image: url("../images/banner4.jpg");
  }
}

.owl-nav{
  display: none;
}
.owl-dots{
  display: none;
}

header{
  z-index: 2;
}




@media only screen and (max-width: 991px) {
  .navbar-nav {
    background: #0f6674;
    height: 100vh;

  }


  .navbar-collapse{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar-toggler{
    position: relative;
    z-index: 1;
  }
}



//.test{
//  position: relative;
//}