@import "font.css";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.main_banner {
  .item {
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    height: 100vh;
  }

  .item_2 {
    background-image: url("../images/banner2.jpg");
  }

  .item_3 {
    background-image: url("../images/banner3.jpg");
  }

  .item_4 {
    background-image: url("../images/banner4.jpg");
  }
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: none;
}

header {
  z-index: 2;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.navbar {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 278px;

  .navbar-brand {
    img {
      margin-right: 22px;
    }
  }

  p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .collapse {
    .navbar-nav {

    }
  }

}

.navbar-nav {
  @include max-screen(991px) {
    height: 100vh;
    margin-top: 40px;
    .mob_logo {
      @include max-screen(991px) {
        margin-bottom: 103px;
      }
    }
    .item_mb {
      a {
        @include max-screen(991px) {
          font-family: '20 Kopeek Book';
          font-style: normal;
          font-weight: 400;
          font-size: 45px;
          line-height: 100%;
          color: #181818;
          text-decoration: none;
        }
      }

      @include max-screen(991px) {
        margin-bottom: 35px;
      }
    }
  }

  li {
    margin-left: 23px;
    @include max-screen(991px) {
      margin-left: 39px;
    }
  }

  .item_bm_last {
    @include max-screen(991px) {
      margin-bottom: 350px;
    }
    @include max-screen(756px) {
      margin-bottom: 150px;
    }

    a {
      @include max-screen(991px) {
        font-family: '20 Kopeek Book';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 100%;
        color: #181818;
        text-decoration: none;
      }
    }
  }
}

.number {
  a {
    display: inline-block;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    padding: 7px 27px;
    border: 1px solid #FFFFFF;
    border-radius: 19px;
  }

  @include max-screen(991px) {
    a, p {
      display: inline-block;
      font-family: '20 Kopeek Book';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: #181818;
      padding: 0;
      border: none;
    }
  }
}
.navbar-collapse {
  @include max-screen(991px) {
    background: #E5E5E5;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.navbar-light .navbar-toggler {
  @include max-screen(991px) {
    z-index: 1;
  }
}

.mobile_social {
  @include max-screen(991px) {
    margin-bottom: 30px;
  }

  li:last-of-type {
    @include max-screen(991px) {
      margin-left: 18px;
    }
  }
}

.main_banner_section {
  position: relative;

  .main_text {
    position: absolute;
    top: 344px;
    width: 100%;
    z-index: 1;

    h1 {
      font-family: '20 Kopeek Book';
      font-size: 55px;
      line-height: 100%;
      color: #181818;
      @include max-screen(992px){
        font-size: 45px;
      }
      @include max-screen(576px){
        font-size: 30px;
      }
    }

    h2 {
      font-family: '20 Kopeek Book';
      font-size: 34px;
      line-height: 110%;
      color: #181818;
      @include max-screen(992px){
        font-size: 26px;
      }
      @include max-screen(576px){
        font-size: 20px;
      }
    }

    a {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #181818;
      text-decoration: none;

      padding: 23px 47px;
      background: #FFFFFF;
      border-radius: 40px;
    }
    @include max-screen(992px){
      font-size: 16px;
    }
    @include max-screen(576px){
      font-size: 15px;
    }
  }
}








