@import "font.css";
@import "adaptive.css";




.main_banner {
  .item {
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    height: 100vh;
  }

  .item_2 {
    background-image: url("../images/banner2.jpg");
  }

  .item_3 {
    background-image: url("../images/banner3.jpg");
  }

  .item_4 {
    background-image: url("../images/banner4.jpg");
  }
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: none;
}

header {
  z-index: 2;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.navbar {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 278px;

  .navbar-brand {
    img {
      margin-right: 22px;
    }
  }

  p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
  }
}

.navbar-nav {
  li {
    margin-left: 23px;
  }
}


.number {
  a {
    display: inline-block;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    padding: 7px 27px;
    border: 1px solid #FFFFFF;
    border-radius: 19px;
  }
}






.main_banner_section{
  position: relative;
  .main_text{
    position: absolute;
    top: 344px;
    width: 100%;
    z-index: 1;
    h1{
      font-family: '20 Kopeek Book';
      font-size: 55px;
      line-height: 100%;
      color: #181818;
    }
    h2{
      font-family: '20 Kopeek Book';
      font-size: 34px;
      line-height: 110%;
      color: #181818;
    }
    a{
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #181818;
      text-decoration: none;

      padding: 23px 47px;
      background: #FFFFFF;
      border-radius: 40px;
    }
  }
}


