@import url(font.css);
.main_banner .item {
  background-image: url("../images/banner1.jpg");
  background-size: cover;
  height: 100vh; }
.main_banner .item_2 {
  background-image: url("../images/banner2.jpg"); }
.main_banner .item_3 {
  background-image: url("../images/banner3.jpg"); }
.main_banner .item_4 {
  background-image: url("../images/banner4.jpg"); }

.owl-nav {
  display: none; }

.owl-dots {
  display: none; }

header {
  z-index: 2; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0; }

.navbar {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 278px; }
  .navbar .navbar-brand img {
    margin-right: 22px; }
  .navbar p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF; }

@media screen and (max-width: 991px) {
  .navbar-nav {
    height: 100vh;
    margin-top: 40px; } }
  @media screen and (max-width: 991px) and (max-width: 991px) {
    .navbar-nav .mob_logo {
      margin-bottom: 103px; } }
  @media screen and (max-width: 991px) and (max-width: 991px) {
    .navbar-nav .item_mb a {
      font-family: '20 Kopeek Book';
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 100%;
      color: #181818;
      text-decoration: none; } }
  @media screen and (max-width: 991px) and (max-width: 991px) {
    .navbar-nav .item_mb {
      margin-bottom: 35px; } }

.navbar-nav li {
  margin-left: 23px; }
  @media screen and (max-width: 991px) {
    .navbar-nav li {
      margin-left: 39px; } }
@media screen and (max-width: 991px) {
  .navbar-nav .item_bm_last {
    margin-bottom: 350px; } }
@media screen and (max-width: 756px) {
  .navbar-nav .item_bm_last {
    margin-bottom: 150px; } }
@media screen and (max-width: 991px) {
  .navbar-nav .item_bm_last a {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: #181818;
    text-decoration: none; } }

.number a {
  display: inline-block;
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 7px 27px;
  border: 1px solid #FFFFFF;
  border-radius: 19px; }
@media screen and (max-width: 991px) {
  .number a, .number p {
    display: inline-block;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #181818;
    padding: 0;
    border: none; } }

@media screen and (max-width: 991px) {
  .navbar-collapse {
    background: #E5E5E5;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; } }

@media screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    z-index: 1; } }

@media screen and (max-width: 991px) {
  .mobile_social {
    margin-bottom: 30px; } }
@media screen and (max-width: 991px) {
  .mobile_social li:last-of-type {
    margin-left: 18px; } }

.main_banner_section {
  position: relative; }
  .main_banner_section .main_text {
    position: absolute;
    top: 344px;
    width: 100%;
    z-index: 1; }
    .main_banner_section .main_text h1 {
      font-family: '20 Kopeek Book';
      font-size: 55px;
      line-height: 100%;
      color: #181818; }
      @media screen and (max-width: 992px) {
        .main_banner_section .main_text h1 {
          font-size: 45px; } }
      @media screen and (max-width: 576px) {
        .main_banner_section .main_text h1 {
          font-size: 30px; } }
    .main_banner_section .main_text h2 {
      font-family: '20 Kopeek Book';
      font-size: 34px;
      line-height: 110%;
      color: #181818; }
      @media screen and (max-width: 992px) {
        .main_banner_section .main_text h2 {
          font-size: 26px; } }
      @media screen and (max-width: 576px) {
        .main_banner_section .main_text h2 {
          font-size: 20px; } }
    .main_banner_section .main_text a {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #181818;
      text-decoration: none;
      padding: 23px 47px;
      background: #FFFFFF;
      border-radius: 40px; }
    @media screen and (max-width: 992px) {
      .main_banner_section .main_text {
        font-size: 16px; } }
    @media screen and (max-width: 576px) {
      .main_banner_section .main_text {
        font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
